<section>
  <div *ngIf="!readOnly; else elseUserProfile">

    <div *ngIf="isLoading" class="progressBarDiv">
      <ion-spinner name="lines" color="secondary"></ion-spinner>
    </div>

    <div *ngIf="!isLoading">
        <ion-card>

          <ion-card-header id="prezProfile">
            <ion-card-title>
              <h1 *ngIf="userId; else elseUserForm">{{user.firstName | titlecase }} {{user.lastName | titlecase}}</h1>
              <ng-template #elseUserForm>
                <h1>Creating a new User</h1>
              </ng-template>
            </ion-card-title>
          </ion-card-header>

          <form [formGroup]="userFormGroup" novalidate >
            <ion-card-content id="information">
              <div class="details">

                <ion-item>
                  <ion-label slot="start">First name</ion-label>
                  <ion-input ngDefaultControl formControlName="firstName" placeholder="Firstname" inputmode="text" type="text" spellcheck="false"></ion-input>
                  <ion-icon slot="end" name="person-circle-outline" color="medium"></ion-icon>
                </ion-item>
                <div class="form-error">
                  <p *ngIf="(userFormGroup.get('firstName').touched && userFormGroup.get('firstName').hasError('minlength'))">This entry is too short (2 char minimum)</p>
                  <p *ngIf="(userFormGroup.get('firstName').touched && userFormGroup.get('firstName').hasError('maxlength'))">This entry is too long (25 char maximum)</p>
                </div>

                <ion-item>
                  <ion-label slot="start">Last name</ion-label>
                  <ion-input ngDefaultControl formControlName="lastName" placeholder="lastname" inputmode="text" type="text"  spellcheck="false"></ion-input>
                  <ion-icon slot="end" name="person-circle" color="medium"></ion-icon>
                </ion-item>
                <div class="form-error">
                  <p *ngIf="(userFormGroup.get('lastName').touched && userFormGroup.get('lastName').hasError('minlength'))">This entry is too short (2 char minimum)</p>
                  <p *ngIf="(userFormGroup.get('lastName').touched && userFormGroup.get('lastName').hasError('maxlength'))">This entry is too long (25 char maximum)</p>
                </div>
    
                <!-- <mat-form-field>
                  <mat-label>birthDate</mat-label>
                  <input matInput [matDatepicker]="myDatepicker" [formControlName]="user.birthDate" matInput
                  [placeholder]="birthDate" class="form-control">
                  <mat-datepicker-toggle matSuffix [for]="myDatepicker"></mat-datepicker-toggle>
                  <mat-datepicker #myDatepicker></mat-datepicker>
                </mat-form-field> -->
    
                <ion-item>
                  <ion-label slot="start">Email</ion-label>
                  <ion-input ngDefaultControl formControlName="email" placeholder="Email" inputmode="email" type="email" spellcheck="false" required="true"></ion-input>
                  <ion-icon slot="end" name="mail-outline" color="medium"></ion-icon>
                </ion-item>
                <div class="form-error">
                  <p *ngIf="(userFormGroup.get('email').touched && userFormGroup.get('email').hasError('required'))">An email is required</p>
                  <p *ngIf="(userFormGroup.get('email').touched && userFormGroup.get('email').hasError('maxlength'))">This email is too long (128 char maximum)</p>
                  <p *ngIf="(userFormGroup.get('email').touched && userFormGroup.get('email').hasError('notUnique'))">This email is already registered</p>
                  <p *ngIf="(userFormGroup.get('email').touched && userFormGroup.get('email').hasError('email'))">This email is invalid</p>
                </div>
    
                <ion-item>
                  <ion-label slot="start">Mobile</ion-label>
                  <ion-input ngDefaultControl formControlName="mobile" placeholder="Mobile" inputmode="tel" type="tel" spellcheck="false"></ion-input>
                  <ion-icon slot="end" name="call-outline" color="medium"></ion-icon>
                </ion-item>
                <div class="form-error">
                  <p *ngIf="(userFormGroup.get('mobile').touched && userFormGroup.get('mobile').hasError('minlength'))">This number is too short (10 digit minimum)</p>
                  <p *ngIf="(userFormGroup.get('mobile').touched && userFormGroup.get('mobile').hasError('maxlength'))">This number is too long (20 char maximum)</p>
                </div>
    
                <div *ngIf="isNew() || isAdmin() && !isMyself()">
                  <ion-item>
                    <ion-label slot="start">Profile</ion-label>
                    <!-- <ion-select formControlName="profile" interface="popover">
                      <ion-select-option *ngFor="let profile of profileTypes" [value]="profile.value">{{profile.label}}</ion-select-option>
                    </ion-select> -->
                    <!-- <ion-radio-group formControlName="profile" value="user"> -->
                    <ion-radio-group formControlName="profile">
                      <ion-row>
                        <ion-item *ngFor="let profile of profileTypes">
                          <ion-radio slot="end" [value]="profile.value"></ion-radio>
                          <ion-text [class.radio-selected]="userFormGroup.get('profile').value === profile.value">{{profile.label}}</ion-text>
                        </ion-item>
                      </ion-row>
                    </ion-radio-group>
                    <ion-icon slot="end" [name]="userFormGroup.get('profile').value === 'user' ?'document-outline':'document-lock-outline'" color="medium"></ion-icon>
                  </ion-item>
                  <div class="form-error"></div>
                </div>
    
                <div *ngIf="isNew()">
                  <ion-item>
                    <ion-label slot="start">Password</ion-label>
                    <ion-input ngDefaultControl formControlName="password" placeholder="Password" inputmode="text" [type]="hidePassword ? 'password' : 'text'" spellcheck="false" required="true"></ion-input>
                    <!-- <ion-icon slot="end" (click)="hidePassword = ! hidePassword" [name]="hidePassword? 'eye-off-outline':'eye'" [color]="hidePassword? 'medium': 'dark'"></ion-icon> -->
                    <div slot="end" (click)="hidePassword = ! hidePassword">
                      <ion-icon [name]="hidePassword? 'eye-outline':'eye-off'" [color]="hidePassword? 'medium': 'dark'" style="font-size: 24px;"></ion-icon>
                    </div>
                  </ion-item>
                  <div class="form-error">
                    <p *ngIf="(userFormGroup.get('password').touched && userFormGroup.get('password').hasError('required'))">A password is required</p>
                    <p *ngIf="(userFormGroup.get('password').touched && userFormGroup.get('password').hasError('minlength'))">This password is too short (5 char minimum)</p>
                    <p *ngIf="(userFormGroup.get('password').touched && userFormGroup.get('password').hasError('maxlength'))">This password is too long (20 char maximum)</p>
                  </div>
                </div>
                
              </div>
            </ion-card-content>
          </form>
        </ion-card>

        <ion-toolbar>
          <ion-buttons slot="end">
            <!-- <ion-button size="small" color="dark" (click)="submit()" [disabled]="!userFormGroup.valid && !userId">Submit</ion-button> -->
            <ion-button size="small" color="dark" (click)="submit()" [disabled]="true">Submit</ion-button>
          </ion-buttons>
        </ion-toolbar>
    </div>
  </div>

  <ng-template #elseUserProfile>

    <div *ngIf="isLoading" class="progressBarDiv">
      <ion-spinner name="lines" color="secondary"></ion-spinner>
    </div>

    <div *ngIf="!isLoading">
      <ion-card>
        <ion-card-header id="prezProfile">
          <ion-card-title><h1>{{user.firstName | titlecase }} {{user.lastName | titlecase}}</h1></ion-card-title>
        </ion-card-header>
        <ion-card-content id="information">
          <div class="details">
            <ion-item  *ngIf="user.profile == 'admin'">
              <ion-icon slot="start" name="document-lock-outline" color="medium"></ion-icon>
              <ion-text><h3>Admin</h3></ion-text>
            </ion-item>
            <ion-item *ngIf="user.profile == 'user'">
              <ion-icon slot="start" name="document-outline" color="medium"></ion-icon>
              <ion-text><h3>User</h3></ion-text>
            </ion-item>
            <!-- <h3><mat-icon class="material-icons md-24" color="skillful">cake</mat-icon>{{userPick.birthDate  | date: 'dd/MM/yyyy'}}</h3> -->
            <ion-item>
              <ion-icon slot="start" name="mail-outline" color="medium"></ion-icon>
              <ion-text><h3>{{user.email}}</h3></ion-text>
            </ion-item>
            <ion-item>
              <ion-icon slot="start" name="call-outline" color="medium"></ion-icon>
              <ion-text><h3>{{user.mobile}}</h3></ion-text>
            </ion-item>
          </div>
        </ion-card-content>
      </ion-card>

      <ion-toolbar>
        <ion-buttons slot="end">
          <ion-button *ngIf="isAdmin() || isMyself()" (click)="editProfile()">Edit Profile</ion-button>
          <ion-button *ngIf="isAdmin() || isMyself()" (click)="changePassword()">Change password</ion-button>
        </ion-buttons>
      </ion-toolbar>
    </div>
  </ng-template>
</section>
