section {
  // background-color: #d8d8d8;
  // margin-top: 1rem;
}

#prezProfile {
  background-color: #7e8b9326;
  color: gray;
  // color: #f5f5f5;
}

#information {
  margin: auto;
  padding: 10px 0px !important;
}

.details h3 {
  color: gray;
}

@media only screen and (max-width: 959px) {
  #prezProfile {
    margin: auto;
    padding-top:10px;
  }
}

ion-select {
  // float: right;
  // max-width: 100%;
  padding-left: 10px;
}
ion-item > ion-label{
  margin-right: 10px;
  // width: 75px;
  min-width: 76px;
  max-width: 76px;
  color:  var(--ion-color-medium) !important;
}
ion-item.item-has-focus > ion-label{
  color:  var(--ion-color-dark) !important;
}
div.form-error {
  height: 20px;
  overflow: hidden;
  p {
      margin: 5px;
      padding-left: 5px;
      font-size: x-small;
      color: red;
  }
}