<tab-header title="Features" menuId="home"></tab-header>

<ion-content>

  <ion-text color="danger">
    <p class="ion-text-center"><ion-icon name="construct"></ion-icon>... Beta version...<ion-icon name="construct"></ion-icon></p>
  </ion-text>

  <ion-card>
    <ion-list>
      <ion-list-header>Features list:</ion-list-header>
      <ion-item>Material</ion-item>
      <ion-item>Fontawesome</ion-item>
      <ion-item>Emoji</ion-item>
      <ion-item>NgRx</ion-item>
      <ion-item>Koa</ion-item>
      <ion-item>koa-service NPM module</ion-item>
      <ion-item>Docker</ion-item>
    </ion-list>
  </ion-card>

</ion-content>

<tab-footer></tab-footer>