ion-card {
    padding:  10px 10px;
    ion-list{
        ion-item {
            .fa-icon {
                margin-left: 3px;
                margin-right: 34px;
            }
            .emojis {
                margin-right: 32px;
            }
        }
    }
}