<tab-fake-header></tab-fake-header>

<ion-content>

  <ion-text color="danger">
    <p class="ion-text-center"><ion-icon name="construct"></ion-icon>... Beta version...<ion-icon name="construct"></ion-icon></p>
  </ion-text>

  <ion-card>
    <ion-list>
      <ion-list-header>Features list:</ion-list-header>
      <ion-item><ion-icon name="logo-nodejs"></ion-icon>Koa</ion-item>
      <ion-item><ion-icon name="logo-npm"></ion-icon>koa-service NPM module</ion-item>
      <ion-item>NgRx</ion-item>
      <ion-item><ion-icon name="logo-docker"></ion-icon>Docker</ion-item>
      <ion-item><ion-icon name="logo-pwa"></ion-icon>PWA</ion-item>
      <ion-item>Material</ion-item>
      <ion-item>Fontawesome</ion-item>
      <ion-item>Emoji</ion-item>
      <ion-item><ion-icon name="barcode-outline"></ion-icon>Bar Code scanner & Generator</ion-item>
      <ion-item><ion-icon name="qr-code-outline"></ion-icon>QR Code scanner & Generator</ion-item>
      <ion-item><ion-icon name="leaf-outline"></ion-icon>Leadflet</ion-item>
    </ion-list>
  </ion-card>

</ion-content>

<tab-footer></tab-footer>