ion-card {
    ion-list{
        ion-item {
            .fa-icon {
                margin-left: 3px;
                margin-right: 34px;
            }
            .emojis {
                margin-right: 30px;
            }
        }
    }
}