<tab-fake-header></tab-fake-header>

<!-- <ion-content [fullscreen]="true"> -->
  <ion-content>
    <div id="mapLibre"></div>
    <pre id="info" *ngIf="infoToggle">{{longitude | number: '1.6-6'}} {{latitude | number: '1.6-6'}}</pre>

    <ion-fab horizontal="start" vertical="bottom" slot="fixed">
      <ion-fab-button  color="light" size="small">
        <ion-icon color="dark" name="settings"></ion-icon>
      </ion-fab-button>
      <ion-fab-list side="top">
        <!-- <ion-fab-button color="light" (click)="onPickerStyleMenuRequest($event)"> -->
        <ion-fab-button color="light" (click)="onPopoverStyleMenuRequest($event)">
          <ion-icon name="layers"></ion-icon>
        </ion-fab-button>
      </ion-fab-list>
    </ion-fab>

  </ion-content>

<tab-footer></tab-footer>