<tab-fake-header></tab-fake-header>


<ion-content>
  <ion-text color="danger">
    <p class="ion-text-center"><ion-icon name="construct"></ion-icon>... Beta version...<ion-icon name="construct"></ion-icon></p>
  </ion-text>
  <ion-card>

    <h2>Welcome to this PWA Demo</h2>
  
    <p>The purpose of this Showroom is to demo some design works and under test features of a Progressive Web App <strong>Ionic/Angular</strong>
      embedded with many add-ons like <strong>NgRx</strong>, <strong>Material</strong>, <strong>Leaflet</strong> and much more.</p>
    <p>It also includes a dashboard for a front fullstack api
      associated to a <strong>NodeJS/Koa/TypeORM</strong> backend Demo, called <strong>Koa</strong></p>
    <p>Don't hesitate to have a look around and keep in mind that this site is dynamic and adapted according to daily needs of his owner.</p>
    <p>Please contact me if any questions.</p>

  </ion-card>
</ion-content>

<tab-footer></tab-footer>