<ion-split-pane contentId="dashboardId" [disabled]="!paneEnabled">

  <ion-menu side="start" contentId="dashboardId" menuId="dashboard" (ionWillClose)="menuWillClose()">

    <ion-header>
      <ion-toolbar color="light"><ion-title>Dashoard</ion-title></ion-toolbar>
    </ion-header>
  
    <ion-content>
      <menu-list [menu]="menuList" [menuId]="'dashboard'" 
        [transmitter]="menuRequestEmitter"></menu-list><!-- multi="true" optional-->
      <menu-list *ngIf="(profileType$ | async) === 'admin'" [menu]="adminMenuList" [menuId]="'dashboard'" 
        [transmitter]="adminMenuRequestEmitter"
        (receiver)="callbackReceiverSwitch($event)"></menu-list><!-- multi="true" optional-->
    </ion-content>
  
  </ion-menu>
  
  <ion-router-outlet id="dashboardId"></ion-router-outlet>
</ion-split-pane>

<tab-header title="Dashboard" menuId="dashboard"></tab-header>
