<tab-fake-header></tab-fake-header>

<full-width-title class="ion-text-center">
    My sandbox: A toy's playground ! 
    <angular-emojis name="yum" size="20"></angular-emojis>
</full-width-title>

<ion-content>
    <teaser-beta-version><ion-card>test 1</ion-card><ion-card>test 2</ion-card></teaser-beta-version>
    
    <ion-item-divider></ion-item-divider>

    <ion-text class="ion-text-center">Title</ion-text>
    <ion-card><ion-card-title class="ion-text-center">Sandbox !</ion-card-title></ion-card>
    <!-- <ion-item-divider></ion-item-divider> -->
    <ion-card-title class="my-header ion-text-center">Title !</ion-card-title>
    <ion-item-divider></ion-item-divider>
    <full-width-title class="ion-text-center">
        new Title
        <angular-emojis name="smirk" size="20"></angular-emojis>
    </full-width-title>
</ion-content>

<tab-footer></tab-footer>
