ion-card-title { 
    margin: 0px 0px 10px;
    padding: 10px 10px;
    border-top: 1px solid var(--ion-color-light-shade);
    border-bottom: 1px solid var(--ion-color-light-shade);
    box-shadow: 0px 2px 2px 1px var(--ion-color-light-shade);
}