<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon name="home"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="themes">
      <ion-icon name="color-palette"></ion-icon>
      <ion-label>Themes</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="dashboard" [disabled]="!isLogged">
      <ion-icon name="library"></ion-icon>
      <ion-label>Dashboard</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="map">
      <ion-icon name="map"></ion-icon>
      <ion-label>Map</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>

<!-- <ion-fab edge="true" vertical="top" horizontal="end" slot="fixed"> -->
<ion-fab vertical="top" horizontal="end" slot="fixed">
  <ion-fab-button [color]="ping? isLogged? 'medium':'light' :'danger'" size="small">
    <ion-icon *ngIf="!connecting" [name]="isLogged? 'lock-closed':'lock-open'" [color]="ping? isLogged? 'light':'medium' :'light'" ></ion-icon>
    <!-- <ion-spinner *ngIf="connecting" name="lines-small" [color]="isLogged? 'light':'primary'"></ion-spinner> -->
    <ion-spinner *ngIf="connecting" name="lines" [color]="isLogged? 'light':'primary'"></ion-spinner>
  </ion-fab-button>
  <ion-fab-list side="bottom">
    <ion-fab-button color="medium" (click)='loginToggle()' [disabled]="!ping" [title]="isLogged? 'Logout':'Login'">
      <ion-icon [name]="isLogged?'log-out-outline':'log-in-outline'" color="light" size="large"></ion-icon>
    </ion-fab-button>
    <ion-fab-button color="light" (click)='profileToggle()' [disabled]="!ping" [title]="isLogged? 'Profile':'Register'">
      <ion-icon [name]="isLogged?'person-outline':'person-add-outline'" color="medium" size="large"></ion-icon>
    </ion-fab-button>
    <ion-fab-button color="light" (click)='codeBarScan()'>
      <ion-icon name="barcode-outline" color="medium" size="large"></ion-icon>
    </ion-fab-button>
    <ion-fab-button color="light" (click)='QRCodeScan()'>
      <ion-icon name="scan-circle-outline" color="medium" size="large"></ion-icon>
    </ion-fab-button>
    <!-- <ion-fab-button color="light" (click)='Geolocation()'>
      <ion-icon name="locate" color="medium" size="large"></ion-icon>
    </ion-fab-button> -->
  </ion-fab-list>
</ion-fab>
