div.tab-content {
  height: 270px;
  margin-top: 10px;
  
  div.qrcode {
    height: 202px;
    width: 202px;
    margin: auto;
    margin-top: 10px;
    border: 1px solid var(--ion-color-medium);
    border-radius: 4px;
    box-shadow: 0px 0px 2px 2px var(--ion-color-medium);
  }
}