<tab-fake-header></tab-fake-header>

<full-width-title class="ion-text-center">
  <ion-item lines="none">
    <ion-icon slot="start" name="logo-npm" color="danger" size="large"></ion-icon>
    <ion-title><code>angularx-qrcode</code></ion-title>
  </ion-item>
</full-width-title>

<ion-content>

    <ion-card>
      <ion-card-header>
        <ion-item lines="none">
          <ion-icon slot="start" name="qr-code-outline" color="medium" size="large"></ion-icon>
          QR Code Generator for Angular
        </ion-item>
      </ion-card-header>

      <ion-card-content>
        <code>angularx-qrcode</code> is based on <code>node-qrcode</code>
        <mat-tab-group animationDuration="250">

          <mat-tab label="Example">
            <div class="tab-content">
              <ion-item lines="none">
                <ion-label color="dark">Example: https://ionic.demo.pfouque.fr</ion-label>
              </ion-item>
              <div class="qrcode">
                <qrcode qrdata="https://ionic.demo.pfouque.fr" [scale]="4" [width]="200" [errorCorrectionLevel]="'M'" [elementType]="'svg'"></qrcode>
              </div>
            </div>
          </mat-tab>
          
          <mat-tab label="Generator">
            <div class="tab-content">
              <form>
                <ion-item lines="none">
                  <ion-label position="fixed" color="dark">Data :</ion-label>
                  <ion-input [(ngModel)]="QRCode" name="QRCode" type="text" placeholder="Enter Input" clearInput></ion-input>
                </ion-item>
              </form>
              <div class="qrcode">
                <qrcode *ngIf="QRCode" [qrdata]="QRCode" [scale]="4" [width]="200" [errorCorrectionLevel]="'M'" [elementType]="'svg'"></qrcode>
              </div>
            </div>
          </mat-tab>

        </mat-tab-group>

      </ion-card-content>
    </ion-card>

</ion-content>

<tab-footer></tab-footer>
