<tab-fake-header></tab-fake-header>

<full-width-title class="ion-text-center">
  <ion-item lines="none">
    <ion-icon slot="start" name="logo-npm" color="danger" size="large"></ion-icon>
    <ion-title><code>angularx-qrcode</code></ion-title>
  </ion-item>
</full-width-title>

<ion-content>

    <ion-card>
      <ion-card-header>
        <ion-card-title>
          QR Code Generator for Angular based on <code>node-qrcode</code>
        </ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <mat-tab-group animationDuration="250">

          <mat-tab label="Example">
            <ion-label color="dark">example: https://ionic.demo.pfouque.fr</ion-label>
            <div class="qrcode">
              <qrcode qrdata="https://ionic.demo.pfouque.fr" [scale]="4" [width]="200" [errorCorrectionLevel]="'M'" [elementType]="'svg'"></qrcode>
            </div>
          </mat-tab>

          <mat-tab label="Generator">
            <form>
              <ion-item lines="none">
                <ion-label position="floating" color="dark">Data for QR code:</ion-label>
                <ion-input [(ngModel)]="QRCode" name="QRCode" type="text" placeholder="Enter Input" clearInput></ion-input>
              </ion-item>
            </form>
            <div class="qrcode">
              <qrcode *ngIf="QRCode" [qrdata]="QRCode" [scale]="4" [width]="200" [errorCorrectionLevel]="'M'" [elementType]="'svg'"></qrcode>
            </div>
          </mat-tab>

        </mat-tab-group>

      </ion-card-content>
    </ion-card>

</ion-content>

<tab-footer></tab-footer>
