<!-- <p>password-change-modal works!</p> -->
<ion-header>
  <ion-toolbar >
    <ion-title>Password change</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>

        <form [formGroup]="passwordFG" novalidate>

          <ion-item [ngClass]="(passwordFG.get('password').touched && passwordFG.get('password').invalid) ? 'error' : ''">
            <ion-label position="floating">Current password</ion-label>
            <ion-input ngDefaultControl inputmode="text" [type]="hidePassword ? 'password' : 'text'" spellcheck="false" required="true" name="password" formControlName="password"></ion-input>
            <div slot="end" (click)="hidePassword = ! hidePassword">
              <ion-icon [name]="hidePassword? 'eye-outline':'eye-off'" [color]="hidePassword? 'medium': 'dark'"></ion-icon>
            </div>
          </ion-item>
          <div class="form-error">
            <p *ngIf="(passwordFG.get('password').touched && passwordFG.get('password').hasError('required'))">A password is required.</p>
          </div>
      
          <ion-item [ngClass]="(passwordFG.get('newPassword').touched && passwordFG.get('newPassword').invalid) ? 'error' : ''">
            <ion-label position="floating">New password</ion-label>
            <ion-input ngDefaultControl inputmode="text" [type]="hideNewPassword ? 'password' : 'text'" spellcheck="false" required="true" name="newPassword" formControlName="newPassword"></ion-input>
            <div slot="end" (click)="hideNewPassword = ! hideNewPassword">
              <ion-icon [name]="hideNewPassword? 'eye-outline':'eye-off'" [color]="hideNewPassword? 'medium': 'dark'"></ion-icon>
            </div>
          </ion-item>
          <div class="form-error">
            <p *ngIf="(passwordFG.get('newPassword').touched && passwordFG.get('newPassword').hasError('required'))">A password is required.</p>
            <p *ngIf="(passwordFG.get('newPassword').touched && passwordFG.get('newPassword').hasError('minlength'))">This password is too short (5 char minimum).</p>
            <p *ngIf="(passwordFG.get('newPassword').touched && passwordFG.get('newPassword').hasError('maxlength'))">This password is too long (25 char maximum).</p>
            <p *ngIf="(passwordFG.get('newPassword').touched && passwordFG.get('newPassword').invalid)">This password is invalid.</p>
          </div>
      
          <ion-item [ngClass]="(passwordFG.get('confirmPassword').touched && passwordFG.get('confirmPassword').invalid) ? 'error' : ''">
            <ion-label position="floating">New password again</ion-label>
            <ion-input ngDefaultControl inputmode="text" [type]="hideConfirmPassword ? 'password' : 'text'" spellcheck="false" required="true" name="confirmPassword" formControlName="confirmPassword"></ion-input>
            <div slot="end" (click)="hideConfirmPassword = ! hideConfirmPassword">
              <ion-icon [name]="hideConfirmPassword? 'eye-outline':'eye-off'" [color]="hideConfirmPassword? 'medium': 'dark'"></ion-icon>
            </div>
          </ion-item>
          <div class="form-error">
            <p *ngIf="(passwordFG.get('confirmPassword').touched && passwordFG.get('confirmPassword').hasError('notSame'))">Both password must be identicals.</p>
            <p *ngIf="(passwordFG.get('confirmPassword').touched && passwordFG.get('confirmPassword').hasError('required'))">A password is required.</p>
            <!-- <p *ngIf="passwordFG.hasError('notSame')">Both password must be identicals.</p> -->
          </div>
      
        </form>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button size="small" color="dark" (click)="onSubmit()" [disabled]="!passwordFG.valid">Submit</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
