ion-list {
    ion-menu-toggle {
        ion-item {
            ion-img {
                width: 24px;
                margin-left: 0px;
                margin-right: 32px;
                filter: gray; /* IE6-9 */
                -webkit-filter: grayscale(1); /* Google Chrome, Safari 6+ & Opera 15+ */
                filter: grayscale(1); /* Microsoft Edge and Firefox 35+ */
            }
            /* Disable grayscale on hover */
            ion-img:hover {
                -webkit-filter: grayscale(0);
                filter: none;
            }
        }
    }
    .active-parent {
        font-weight: 500;
    }
    .sub-item {
        border-left: 30px solid var(--ion-color-light-shade);
        /* padding-left: 15px; */
    }
}