<!-- <ion-menu side="start" menuId="mapMenu" contentId="mapId">

  <ion-header>
    <ion-toolbar translucent>
      <ion-title>Map Menu</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
    <ion-list>
      <ion-menu-toggle auto-hide="true" menu="mapMenu">
        <ion-item><ion-icon name="home" slot="start"></ion-icon>Home</ion-item>
      </ion-menu-toggle>
    </ion-list>
  </ion-content>

  <ion-router-outlet id="mapId"></ion-router-outlet>
</ion-menu> -->

<ion-header [translucent]="true">
  <ion-toolbar>
    <!-- <ion-buttons slot="start">
      <ion-menu-button menu="mapMenu" color="medium"></ion-menu-button>
    </ion-buttons> -->
    <ion-title>{{'map' | titlecase}}</ion-title>
  </ion-toolbar>
</ion-header>