<ion-split-pane contentId="mapId" [disabled]="!paneEnabled">

  <ion-menu side="start" contentId="mapId" menuId="map">

    <ion-header>
      <ion-toolbar color="light">
        <ion-title>Map</ion-title>
      </ion-toolbar>
    </ion-header>
  
    <ion-content>
      <ion-list>
        <ion-menu-toggle auto-hide="false" menu="map">
        </ion-menu-toggle>
      </ion-list>
    </ion-content>
  
  </ion-menu>
  
  <ion-router-outlet id="mapId"></ion-router-outlet>
</ion-split-pane>


<!-- <ion-header [translucent]="true"> -->
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button menu="map" color="medium"></ion-menu-button>
    </ion-buttons>
    <ion-title>{{'map' | titlecase}}</ion-title>
  </ion-toolbar>
</ion-header>