.my-header { 
    margin-bottom: 10px;
    padding: 10px 0px;
    border-top: 1px solid var(--ion-color-light-shade);
    border-bottom: 1px solid var(--ion-color-light-shade);
    box-shadow: 0px 2px 2px 1px var(--ion-color-light-shade);
}

/** Styles to make the material expansion panel demo look better. */
mat-expansion-panel {
    // margin: 10px 10px;
    ::ng-deep .mat-expansion-panel-body{
        padding: 10px;
    }
}

/** Styles to make the material ripple demo look better. */
.example-ripple-container {
  margin: 10px auto;
  width: 200px;
  height: 200px;
  line-height: 200px;

  cursor: pointer;
  text-align: center;

  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;

  -webkit-user-drag: none;
  -webkit-tap-highlight-color: transparent;
}
.example-ripple-checkbox {
  margin: 6px 12px 6px 0;
}
.example-ripple-form-field {
  margin: 0 12px 0 0;
}

/** Styles to make the material tabs demo look better. */
.example-demo-input,
.example-demo-button {
  margin-right: 10px;
}