.my-header { 
    margin-bottom: 10px;
    padding: 10px 0px;
    border-top: 1px solid var(--ion-color-light-shade);
    border-bottom: 1px solid var(--ion-color-light-shade);
    box-shadow: 0px 2px 2px 1px var(--ion-color-light-shade);
}

/** Styles to make the Ionic Chips demo look better. */
p.p-chips {
  margin-left: 16px;
  margin-top: 0;
}

/** Styles to make the Ionic Grids demo look better. */
ion-grid.grid-demo {
  ion-col {
    border: 1px solid grey;
    text-align: center;
  }
}

/** Styles to make the Ionic Rename & Reorder demo look better. */
ion-item.item-base {
  --border-width: 1px !important;
  ion-input.item-input {
    ion-checkbox.checkbox-action {
      margin: 0px 5px !important;
    }
    // item-label.label-action {
    //   margin-left: 10px;
    // }
  }
}