<tab-fake-header></tab-fake-header>

<full-width-title class="ion-text-center">
  My playground !!! 
  <angular-emojis name="yum" size="20"></angular-emojis>
</full-width-title>

<ion-content>
  
  <h1 class="ion-padding-horizontal">Title</h1>
  
  <ion-card><ion-card-title class="ion-text-center">Sandbox !</ion-card-title></ion-card>
  
  <full-width-title class="ion-text-center">
    new Title
    <angular-emojis name="smirk" size="20"></angular-emojis>
  </full-width-title>
  
  <ion-item-divider></ion-item-divider>
    
  </ion-content>
  
  <tab-footer></tab-footer>
