<ion-split-pane contentId="themesId" [disabled]="!paneEnabled">

  <ion-menu side="start" contentId="themesId" menuId="themes" (ionWillClose)="menuWillClose()">

    <ion-header>
      <ion-toolbar color="light"><ion-title>Themes</ion-title></ion-toolbar>
    </ion-header>
  
    <ion-content>
      <menu-list [menu]="menuList" [menuId]="'themes'"
        [transmitter]="menuListTransmitter"
        (menuListEvent)="callbackReceiverSwitch($event)"></menu-list><!-- multi="true" optional-->
    </ion-content>
  
  </ion-menu>
  
  <ion-router-outlet id="themesId"></ion-router-outlet>
</ion-split-pane>

<tab-header title="Themes" menuId="themes"></tab-header>