<ion-split-pane contentId="homeId" [disabled]="!paneEnabled">

  <ion-menu side="start" contentId="homeId" menuId="home">

    <ion-header>
      <ion-toolbar color="light">
        <ion-title>PWA Demo</ion-title>
      </ion-toolbar>
    </ion-header>
  
    <ion-content>
      <ion-list>
        <ion-menu-toggle auto-hide="false" menu="home">
          <ion-item routerLink="/tabs/home/welcome" routerDirection="root" routerLinkActive="active-item">
            <ion-icon name="newspaper" slot="start"></ion-icon><ion-label>Welcome</ion-label>
          </ion-item>
          <ion-item routerLink="/tabs/home/features" routerDirection="root" routerLinkActive="active-item">
            <ion-icon name="extension-puzzle-outline" slot="start"></ion-icon><ion-label>Features</ion-label>
          </ion-item>
          <ion-item href="http://www.pfouque.fr" target="_blank">
            <ion-img src="../../../assets/icon/favicon.png"></ion-img>
            <ion-label>Contact</ion-label>
          </ion-item>
        </ion-menu-toggle>
      </ion-list>
    </ion-content>
  
  </ion-menu>
  
  <ion-router-outlet id="homeId"></ion-router-outlet>
</ion-split-pane>

<tab-header title="PWA Demo" menuId="home"></tab-header>
