<tab-fake-header></tab-fake-header>

<full-width-title class="ion-text-center">
  <ion-item lines="none">
    <ion-icon slot="start" name="logo-npm" color="danger" size="large"></ion-icon>
    <ion-title>
      <code>JsBarcode ngx-barcode-scanner</code>
    </ion-title>
  </ion-item>
</full-width-title>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-item lines="none">
        <ion-icon slot="start" name="barcode-outline" color="medium" size="large"></ion-icon>
        Bar Code Generator and Scanner for Angular
      </ion-item>
    </ion-card-header>
    
    <ion-card-content>
      <code><strong>JsBarcode</strong></code> generator is a are pure JS Bar Code library, while <code><strong>ngx-barcode-scanner</strong></code> is a ng component based on <code><strong>QuaggaJS</strong></code> barcode scanner.

      <mat-tab-group animationDuration="250" (selectedTabChange)="onTabChanged($event);">

        <mat-tab label="Example">
          <div class="tab-content">
            <ion-item lines="none">
              <ion-label color="dark">Sample: {{barCodeSample}}</ion-label>
            </ion-item>
            <div class="barcode">
              <svg #barCodeSampleSVG></svg>
            </div>
          </div>
        </mat-tab>

        <mat-tab label="Generator">
          <div class="tab-content">
            <form>
              <ion-item lines="none">
                <ion-label position="fixed" color="dark">Data :</ion-label>
                <ion-input [(ngModel)]="BarCodeInput" name="BarCodeInput" type="text" placeholder="Enter Input" clearInput (ionChange)="onInputChange($event.target.value)"></ion-input>
              </ion-item>
            </form>
            <div class="barcode" [hidden]="!BarCodeInput">
              <svg #barCodeInputSVG></svg>
            </div>
          </div>
        </mat-tab>

        <mat-tab label="Scan">
          <div class="tab-content">
            <div class="scanner">
              <ion-item lines="none">
                <div slot="start">
                  <ion-buttons>
                    <ion-button *ngIf="!scanActive" (click)="startScan()" outline color="dark" shape="round">
                      <ion-icon name="play"></ion-icon>Scan
                    </ion-button>
                    <ion-button *ngIf="scanActive" (click)="stopScan()" outline color="danger" shape="round">
                      <ion-icon name="stop"></ion-icon>Stop
                    </ion-button>
                  </ion-buttons>
                </div>
                <div>
                  <!-- Scan in progress -->
                  <ion-spinner *ngIf="scanActive && !scanFound" name="dots" color="medium"></ion-spinner>
                  <!-- Scan successful -->
                  <ion-text *ngIf="!scanActive && scanFound">Value: {{barCodeValue}} [ format: {{barCodeFormat}} ]</ion-text>
                </div>
              </ion-item>
      
              <ion-grid class="scan">
                <ion-row class="ion-justify-content-center ion-align-items-center">
                  <ion-col size="auto" class="ion-text-center">
                    <div class="stream-content" [hidden]="!scanActive">
                      <barcode-scanner-livestream
                        (valueChanges)="onValueChanges($event)"
                        (started)="onStarted($event)">
                      </barcode-scanner-livestream>
                    </div>
                    <div class="barcode" [hidden]="scanActive || !barCodeValue">
                      <svg #barCodeScanSVG></svg>
                    </div>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </div>
          </div>
        </mat-tab>

      </mat-tab-group>
    </ion-card-content>

  </ion-card>
</ion-content>

<tab-footer></tab-footer>
