section {
  // background-color: #d8d8d8;
  // margin-top: 1rem;
}

#prezProfile {
  background-color: #7e8b9326;
  color: gray;
  padding-bottom: 5px;
  padding-top: 1px;
}

@media only screen and (max-width: 959px) {
  #prezProfile {
    margin: auto;
    padding-bottom: 5px;
    padding-top: 1px;
  }
}

#information {
  margin: auto;
  padding: 10px 0px !important;
}

.details h3 {
  color: gray;
}

ion-item {
  --padding-start: 0px;
  padding-left: 0px;
}

ion-item > ion-label{
  margin-right: 10px;
  // width: 75px;
  min-width: 81px;
  max-width: 81px;
  color:  var(--ion-color-medium) !important;
}
ion-item.item-has-focus > ion-label{
  color:  var(--ion-color-dark) !important;
}

ion-select {
  // float: right;
  // max-width: 100%;
  padding-left: 10px;
}

ion-radio-group {
  // ion-item > .item-native {
  //   --padding-start: 0px;
  //   padding-left: 0px;
  // }
  ion-item {
    --padding-start: 0px;
    padding-left: 8px;
  }
  ion-text {
    color: var(--ion-color-medium);
  }
  .radio-selected {
    color: var(--ion-color-dark) !important;
  }
  ion-radio {
    margin-left: 10px;
    --color-checked: var(--ion-color-dark);
  }
}

div.form-error {
  height: 20px;
  overflow: hidden;
  p {
      margin: 5px;
      padding-left: 5px;
      font-size: x-small;
      color: red;
  }
}