/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

.UITooling-toaster-default{
    --border-radius:5px;
    --background: var(--ion-color-light);
    --color: var(--ion-color-medium);
    --white-space: pre-line;
    /* --border-color:#852114;
    --border-style:solid;
    --border-width:4px;
    --button-color:#FFDD00; */
}

.UITooling-toaster-success{
    --border-radius:5px;
    --background: var(--ion-color-success);
    --color: var(--ion-color-light);
    --white-space: pre-line;
}

.UITooling-toaster-failed{
    --border-radius:5px;
    --background: var(--ion-color-danger);
    --color: var(--ion-color-light);
    --white-space: pre-line;
}

.UITooling-toaster-warning{
    --border-radius:5px;
    --background: var(--ion-color-warning);
    --color: var(--ion-color-light);
    --white-space: pre-line;
}

.UITooling-toaster-medium{
    --border-radius:5px;
    --background: var(--ion-color-medium);
    --color: var(--ion-color-light);
    --white-space: pre-line;
}

.UITooling-toaster-dark{
    --border-radius:5px;
    --background: var(--ion-color-dark);
    --color: var(--ion-color-light);
    --white-space: pre-line;
}

/* disable ion-icon popup using CSS event blocking. You may set "title" property on parent element. */
ion-icon {
    pointer-events: none;
}

/* style for activer routetr links in side menu */
.active-item {
    /* border-left: 8px solid var(--ion-color-danger); */
    border-right: 8px solid var(--ion-color-primary);
    /* font-weight: bolder; */
    /* color: var(--ion-color-primary) */
}