<!-- <ion-menu side="start" menuId="themesMenu" contentId="themesId">
  <ion-header>
    <ion-toolbar translucent>
      <ion-title>Themes Menu</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-list>
      <ion-menu-toggle auto-hide="false" menu="themesMenu">
        <ion-item><ion-icon name="construct" slot="start"></ion-icon>Sandbox</ion-item>

        <ion-item-divider>Goodies ...</ion-item-divider>
        <ion-item><ion-icon name="construct" slot="start"></ion-icon>Emojis</ion-item>
        <ion-item><ion-icon name="construct" slot="start"></ion-icon>Icons</ion-item>
        <ion-item><ion-icon name="construct" slot="start"></ion-icon>Spinner</ion-item>
        
        <ion-item-divider>Modals ...</ion-item-divider>
        <ion-item><ion-icon name="construct" slot="start"></ion-icon>Modals</ion-item>
        <ion-item><ion-icon name="construct" slot="start"></ion-icon>Popover</ion-item>
        
        <ion-item-divider>Ionic stuff ...</ion-item-divider>
        <ion-item><ion-icon name="construct" slot="start"></ion-icon>Grid</ion-item>
        <ion-item><ion-icon name="construct" slot="start"></ion-icon>List</ion-item>
        <ion-item><ion-icon name="construct" slot="start"></ion-icon>Nav</ion-item>
        <ion-item><ion-icon name="construct" slot="start"></ion-icon>Reordering</ion-item>
        <ion-item><ion-icon name="construct" slot="start"></ion-icon>badge</ion-item>
        <ion-item><ion-icon name="construct" slot="start"></ion-icon>chip</ion-item>
        <ion-item><ion-icon name="construct" slot="start"></ion-icon>Infinite Scroll</ion-item>
        
        <ion-item-divider>QR & Bar codes ...</ion-item-divider>
        <ion-item><ion-icon name="construct" slot="start"></ion-icon>QRCode Generator</ion-item>
        <ion-item><ion-icon name="construct" slot="start"></ion-icon>QRCode Scan</ion-item>
        <ion-item><ion-icon name="construct" slot="start"></ion-icon>BarCode Scan</ion-item>
        
        <ion-item-divider>Inputs...</ion-item-divider>
        <ion-item><ion-icon name="construct" slot="start"></ion-icon>Forms</ion-item>
        <ion-item><ion-icon name="construct" slot="start"></ion-icon>datetime picker</ion-item>
        <ion-item><ion-icon name="construct" slot="start"></ion-icon>picker</ion-item>
        
        <ion-item-divider>Materials stuff ...</ion-item-divider>
        <ion-item><ion-icon name="construct" slot="start"></ion-icon>material picker</ion-item>
        <ion-item><ion-icon name="construct" slot="start"></ion-icon>material collapse</ion-item>
      </ion-menu-toggle>
    </ion-list>
  </ion-content>

  <ion-router-outlet id="themesId"></ion-router-outlet>
</ion-menu> -->

<!-- <ion-header [translucent]="true" id="themesId"> -->
<ion-header [translucent]="true">
  <ion-toolbar>
    <!-- <ion-buttons slot="start">
      <ion-menu-button menu="themesMenu" color="medium"></ion-menu-button>
    </ion-buttons> -->
    <ion-title>{{'themes' | titlecase}}</ion-title>
  </ion-toolbar>
</ion-header>