<!-- <ion-menu side="start" menuId="koaDashboardMenu" contentId="koaDashboardId">

    <ion-header>
    <ion-toolbar translucent>
      <ion-title>Koa Menu</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-list>
      <ion-menu-toggle auto-hide="true">
        <ion-item><ion-icon name="home" slot="start"></ion-icon>Home</ion-item>
        <ion-item><ion-icon name="newspaper" slot="start"></ion-icon>Newsfeed</ion-item>
        <ion-item><ion-icon name="person" slot="start"></ion-icon>Profile</ion-item>
        <ion-item><ion-icon name="people" slot="start"></ion-icon>Users...</ion-item>
      </ion-menu-toggle>
    </ion-list>
  </ion-content>

  <ion-router-outlet id="koaDashboardId"></ion-router-outlet>
</ion-menu> -->

<ion-header [translucent]="true">
  <ion-toolbar>
    <!-- <ion-buttons slot="start">
      <ion-menu-button menu="koaDashboardMenu" color="medium"></ion-menu-button>
    </ion-buttons> -->
    <ion-title>{{'dashboard' | titlecase}}</ion-title>
  </ion-toolbar>
</ion-header>